.details{
  padding: 47px 68px 27px 72px;
  .detail__row{
    display: flex;
    column-gap: 31px;
    .detail__row-card{

      width: calc(25% - 7.75px);
      .detail__row-card_title{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #121214;
        margin: 21px 0 30px 0;
      }
      .detail__row-card_text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #121214;
      }
      .detail__row-card_circle{
        margin-left:18px ;
        position: relative;
        background: #037E8C;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        .circle-vector{
          top: 50%;
          position: absolute;
          left: -50%;
          transform: translate(10px , -18px);
        }
      }
    }
  }
}