.header {
  width: 100%;
  position: absolute;
  padding: 0 70px;
  margin: 0 auto;
}
.header .header__box {
  justify-content: space-between;
  display: flex;
}
.header .header__box .header__nav-right {
  margin-left: 222px;
  margin-top: 39px;
  column-gap: 58.5px;
  justify-content: space-between;
  display: flex;
}
.header .header__box .header__nav-right .header__nav-right_info {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.header .header__box .header__nav-right .header__nav-right_info div {
  display: flex;
}
.header .header__box .header__nav-right .nav-right__btn {
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 13px 20px;
}
.header .header__box .header__nav-right .nav-right__btn:hover {
  transition: 0.3s;
}
.header .header__box .header__nav-right .nav-right__number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: gray;
}
.header .header__box .header__nav-right .header__nav-right_list {
  column-gap: 20px;
  display: flex;
}
.header .header__box .header__nav-right .header__nav-right_list .list__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: gray;
}