* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  padding: 0 70px;
  margin: 0 auto;
}
.header .header__box {
  justify-content: space-between;
  display: flex;
}
.header .header__box .header__nav-right {
  margin-left: 222px;
  margin-top: 39px;
  justify-content: space-between;
  display: flex;
}
.header .header__box .header__nav-right .header__nav-right_info {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.header .header__box .header__nav-right .header__nav-right_info div {
  display: flex;
}
.header .header__box .header__nav-right .nav-right__btn {
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 13px 20px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}
.header .header__box .header__nav-right .nav-right__btn:hover {
  transition: 0.3s;
}
.header .header__box .header__nav-right .nav-right__number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 13px;
}
.header .header__box .header__nav-right .header__nav-right_list {
  column-gap: 40px;
  display: flex;
}
.header .header__box .header__nav-right .header__nav-right_list .list__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.begin {
  padding: 262px 80px 192px 70px;
  background: url("../images/beginbg.png") center/cover no-repeat;
}
.begin .begin__box {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.begin .begin__box .begin__right-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.begin .begin__box .begin__right-list .begin__right-circle {
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  border-radius: 50%;
}
.begin .begin__box .begin__right-list .begin__right-circle.second {
  margin: 15px 0;
}
.begin .begin__box .begin__right-list .begin__right-line {
  margin: 37px 0 14px;
  height: 54px;
  width: 1px;
  background: #FFFFFF;
}
.begin .begin__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.begin .begin__info .begin__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 125.5%;
  letter-spacing: 0.045em;
  color: #FFFFFF;
}
.begin .begin__info .begin__text {
  margin: 38px 0 71px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.begin .begin__info .begin__btn {
  border: none;
  column-gap: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background: #037E8C;
  border-radius: 9px;
  padding: 12px 12px 12px 23px;
  display: flex;
}
.begin .begin__info .begin__btn .begin__btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.details {
  padding: 47px 68px 27px 72px;
}
.details .detail__row {
  display: flex;
  column-gap: 31px;
}
.details .detail__row .detail__row-card {
  width: calc(25% - 7.75px);
}
.details .detail__row .detail__row-card .detail__row-card_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #121214;
  margin: 21px 0 30px 0;
}
.details .detail__row .detail__row-card .detail__row-card_text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #121214;
}
.details .detail__row .detail__row-card .detail__row-card_circle {
  margin-left: 18px;
  position: relative;
  background: #037E8C;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.details .detail__row .detail__row-card .detail__row-card_circle .circle-vector {
  top: 50%;
  position: absolute;
  left: -50%;
  transform: translate(10px, -18px);
}

.routes {
  padding: 57px 0 119px 0;
}
.routes .routes__title {
  margin-bottom: 67px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.routes .routes__box {
  row-gap: 150px;
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
}
.routes .routes__box .routes__box-row {
  display: flex;
}
.routes .routes__box .routes__box-row .routes__box-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 151px;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #121214;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box_row-title::before {
  content: "";
  width: 81px;
  height: 6px;
  background: #037E8C;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_price {
  margin: 9px 0 32px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #121214;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #121214;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_info.second {
  margin: 10px 0;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_rout {
  margin: 27px 0 13px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #121214;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #121214;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_btns {
  margin-top: 39px;
  display: flex;
  column-gap: 15px;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_btns .routes__box-row_btn {
  padding: 14px 44px 13px 45px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #037E8C;
  background: transparent;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
}
.routes .routes__box .routes__box-row .routes__box-left .routes__box-row_btns .routes__box-row_btn.second {
  padding: 14px 29px 13px 29px;
}
.routes .routes__box .routes__box-row .routes__swiper {
  width: 60%;
}
.routes .routes__box .routes__box-row .routes__swiper .routes__box {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}
.routes .routes__box .routes__box-row .routes__swiper .routes__box-row {
  height: calc(33.33333% - 50px);
  margin-bottom: 130px;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper {
  height: 100%;
  width: 100%;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper {
  padding-left: 50px;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .swiper-wrapper.second {
  padding: 0 50px 0 0;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40%;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .card {
  border-radius: 30px;
  transition: 0.3s;
  background: url("../images/swiperimg1.jpg") center/cover no-repeat;
  width: 100%;
  height: 70%;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .card.second {
  transition: 0.3s;
  background: url("../images/Muzhchina-edet-po-lesnoj-doroge.jpg") center/cover no-repeat;
  width: 100%;
  height: 70%;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .card.third {
  transition: 0.3s;
  background: url("../images/card3.jpg") center/cover no-repeat;
  width: 100%;
  height: 70%;
}
.routes .routes__box .routes__box-row .routes__swiper .swiper .swiper-wrapper .card:hover {
  transform: scale(1.15, 1.15);
}

.test {
  width: 100%;
  padding: 81px 345px 84px;
  margin: 0 auto;
  background: #121214;
}
.test .test__box {
  text-align: center;
}
.test .test__box .test__box-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.test .test__box .test__box-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 19px 0 43px;
}
.test .test__box .test__box-btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  padding: 14px 43px;
  background: #037E8C;
  border-radius: 9px;
}

.gallery {
  width: 100%;
  padding: 63px 0;
}
.gallery .gallery__title {
  margin-bottom: 35px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.gallery .gallery__box {
  justify-content: center;
  column-gap: 40px;
  display: flex;
}
.gallery .gallery__box .gallery__box-img .gallery-image_hidden {
  display: none;
}
.gallery .gallery__box .gallery__box-img .gallery-image {
  border-radius: 30px;
  border: none;
  transition: 0.3s;
}
.gallery .gallery__box .gallery__box-img:hover {
  border-radius: 40px;
  border: 10px solid #037E8C;
  transition: 0.5s;
  transform: scale(1.1, 1.1);
}

.video {
  background: url("../images/unsplash_dvACrXUExLs.png");
  padding: 82px 181px;
  width: 100%;
}
.video .video__box {
  position: relative;
  display: flex;
  justify-content: center;
}
.video .video__box .video__box-text {
  top: 30px;
  left: 150px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
}
.video .video__box .video__box-border {
  border: none;
}

.team {
  background: #E5E5E5;
  padding: 64px 69px;
}
.team .team__row {
  display: flex;
  column-gap: 30px;
}
.team .team__row .team__row-card {
  background: #dcdcdc;
  width: calc(25% - 7.5px);
}
.team .team__row .team__row-card .team__row-info {
  margin: 17px 82px 22px 26px;
}
.team .team__row .team__row-card .team__row-card_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #037E8C;
}
.team .team__row .team__row-card .team__row-card_text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #121214;
}

.terms {
  background: #F4F4F4;
  padding: 50px 70px 76px;
}
.terms .terms__title {
  margin-bottom: 52px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.terms .terms__box {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.terms .terms__box .terms__row {
  height: calc(50% - 15px);
  display: flex;
  column-gap: 30px;
}
.terms .terms__box .terms__row .terms__row-card {
  padding: 9px 27px 14px 5px;
  display: flex;
  width: calc(33.33333% - 10px);
}
.terms .terms__box .terms__row .terms__row-card .terms__row-card_text {
  margin-left: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #121214;
}

.offers {
  padding: 70px 69px 75px;
}
.offers .offers__title {
  margin-bottom: 45px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #373737;
}
.offers .offers__box {
  column-gap: 20px;
  display: flex;
}
.offers .offers__box .offers__info {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin: 26px 15px 141px 25px;
}
.offers .offers__box .offers__info.second {
  margin-bottom: 0;
}
.offers .offers__box .offers__info2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.offers .offers__box .offers__box-card {
  position: relative;
  width: calc(50% - 10px);
  display: flex;
}
.offers .offers__box .offers__box-card .card__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #037E8C;
}
.offers .offers__box .offers__box-card .offers__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #373737;
}

.offers-span {
  font-size: 25px;
}

.card__decoration {
  bottom: 0;
  right: 0;
  position: absolute;
}

.offers__btn {
  margin-top: 28px;
  margin-left: 25px;
  padding: 14px 45px;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #037E8C;
}

.gifts {
  background: #F4F4F4;
  padding: 50px 70px 90px;
}
.gifts .gifts__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #151515;
}
.gifts .gifts__text {
  margin-bottom: 46px;
  margin-top: 13px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #037E8C;
}
.gifts .gifts__cards {
  column-gap: 40px;
  display: flex;
}
.gifts .gifts__cards .gifts__card.one {
  justify-content: center;
  row-gap: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gifts .gifts__cards .gifts__card {
  height: 311px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
}
.gifts .gifts__cards .gifts__card .gifts__right-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 172.5%;
  color: #151515;
}
.gifts .gifts__cards .gifts__card .gifts__right-btn {
  background: transparent;
  padding: 14px 22px;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #037E8C;
}
.gifts .gifts__cards .gifts__card .card__text {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  position: absolute;
  left: 125px;
  bottom: 59px;
}
.gifts .gifts__cards .gifts__card .gifts__decoration {
  right: 0;
  bottom: 0;
  position: absolute;
}
.gifts .gifts__cards .gifts__card .gifts__card-decoration {
  position: absolute;
  left: 23px;
  top: 22px;
}
.gifts .gifts__cards .gifts__card .gifts__decoration2 {
  position: absolute;
  right: 63px;
  bottom: 81px;
}
.gifts .gifts__cards .gifts__card .gifts__info {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.gifts .gifts__cards .gifts__card .gifts__info .gifts__info1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.gifts .gifts__cards .gifts__card .gifts__info .gifts__info2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.gifts .gifts__cards .gifts__card .gifts__card-title {
  top: 35px;
  right: 63px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #121214;
}
.gifts .gifts__cards .gifts__card.second {
  background: #373737;
  border-radius: 9px;
}

.questions {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  padding: 0 182px 85px 182px;
  background: #FFFFFF;
}
.questions .pruzhina {
  position: absolute;
  bottom: -230px;
  left: 0;
}
.questions .baggi3 {
  top: -200px;
  right: 0;
  position: absolute;
}
.questions .questions__title {
  margin: 71px 0 78px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.questions .questions__box {
  column-gap: 40px;
  display: flex;
}
.questions .questions__box .questions__box-left {
  row-gap: 8px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
.questions .questions__box .questions__box-left .questions__box-left_btn {
  display: flex;
  justify-content: space-between;
  padding: 16px 17px 19px 25px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #121214;
  border: 0.5px solid #848484;
  border-radius: 2px;
}
.questions .questions__box .questions__box-right {
  justify-content: center;
  align-items: center;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
.questions .questions__box .questions__box-right .questions__box-right_title {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #121214;
}
.questions .questions__box .questions__box-right .questions__box-right_text {
  margin: 14px 0 31px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121214;
}
.questions .questions__box .questions__box-right .questions__box-right_btn {
  border: none;
  background: #037E8C;
  border-radius: 9px;
  padding: 12px 33px 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.additional {
  padding: 0 70px 109px;
}
.additional .additional__title {
  margin-bottom: 55px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.additional .additional__cards {
  row-gap: 27px;
  display: flex;
  flex-direction: column;
}
.additional .additional__cards .additional__cards-row {
  column-gap: 30px;
  display: flex;
}
.additional .additional__cards .additional__cards-row .additional__cards-row_card {
  display: flex;
  flex-direction: column;
  background: #e8e8e8;
  border-radius: 9px;
  width: calc(25% - 7.5px);
}
.additional .additional__cards .additional__cards-row .additional__cards-row_card .additional__card-img {
  width: 100%;
}
.additional .additional__cards .additional__cards-row .additional__cards-row_card .additional__card-text {
  margin: 9px 0 26px 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #037E8C;
}

.footer {
  padding: 0;
}
.footer .footer__box {
  column-gap: 30px;
  flex-direction: row;
  display: flex;
}
.footer .footer__box .footer__box-left {
  border-top: 3px solid #037E8C;
  width: calc(50% - 15px);
}
.footer .footer__box .footer__box-left .send_message {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #121214;
}
.footer .footer__box .footer__box-left .send_message .message__title {
  margin: 65px 0 16px 0;
}
.footer .footer__box .footer__box-left .footer__box-left_title {
  margin: 14px 0 64px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #121214;
}
.footer .footer__box .footer__box-left .footer__box-left_place {
  column-gap: 10px;
  row-gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__box .footer__box-right {
  width: calc(50% - 20px);
}
.footer .footer__box .place__info {
  width: calc(50% - 5px);
  height: calc(50% - 20px);
  display: flex;
}
.footer .footer__box .place__info .svggg {
  position: relative;
}
.footer .footer__box .place__info .svggg .circle-vector {
  margin: auto;
}